/* Global Layout Set-up */
* { 
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: 'neuton', sans-serif;
  color: #222;
  background: #c9ebeb;
}

/* Link Styles */
a {
  text-decoration: none;
  color: white;
}
a:hover {
  color: #6633ff;
}

/* Section Styles */
.main-nav {
  width: 100%;
  background: rgb(60, 107, 240);
  min-height: 30px;
  padding: 10px;
  position: fixed;
  text-align: center;
}
.nav {
  display: flex;
  justify-content: space-around;
  font-weight: 700;
  list-style-type: none;
  margin: 0 auto;
  padding: 0;
}
.nav .name {
    display: block;
    font-weight: 700;
    margin-right: auto;
    color: white;
}
.nav li {
  padding: 5px 10px 10px 10px;
}
.nav a {
  transition: all .5s;
}
.nav a:hover {
  color: blue;
}
.initial {
  text-align: center;
  background: url('images/yukon1.jpg') no-repeat top center ;
  background-size: cover;
  overflow: hidden;
  padding-top: 60px;
}
header {
  line-height: 1.5;
}
.secondary {
  text-align: center;
  background: url('images/lab.jpg') no-repeat top center ;
  background-size: cover;
  overflow: hidden;
  padding-top: 60px;
}

/* Header Stuyles - I set the transition to 3s because I like how the profile pic loads*/
header .my-profile-image {
  margin-top: 50px;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 5px solid rgb(60, 107, 240);
  transition: all 3s;
}
header .my-profile-image:hover {
  transform: scale(1.5) rotate(30deg);
}
.tag {
  background-color: rgb(60, 107, 240);
  color: white;
  padding: 10px;
  border-radius: 5px;
  display: table;
  margin: 10px auto;
} 
.location {
  background-color: rgb(60, 107, 240);
  color: white;
}
.card {
  margin: 30px;
  padding: 20px 40px 40px;
  max-width: 500px;
  text-align: left;
  background: rgb(239, 240, 224);
  border-bottom: 4px solid #ccc;
  border-radius: 6px;
  transition: all .5s;
}
.card:hover {
  border-color: #ff99ff;
}
ul.skills {
  padding: 0;
  text-align: center;
}
.skills li {
  border-radius: 6px;
  display: inline-block;
  background: #c9ebeb;
  color: rgb(30, 107, 240);
  padding: 5px 10px;
  margin: 2px;
}
.skills li:nth-child(odd) {
  background: rgb(30, 24, 243);
  color: white;
}

/* Footer Styles */
footer {
  width: 100%;
  min-height: 30px;
  padding: 20px 0 40px 20px;
}
footer .copyright {
  top: -8px;
  font-size: .75em;
}
footer ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
footer ul li {
  display: inline-block;
}
a.social {
  display: inline-block;
  text-indent: -9999px;
  margin-left: 5px;
  width: 30px;
  height: 30px;
  background-size: 30px 30px;
  opacity: .4;
  transition: all .5s;
}
a.twitter {
  background-image: url(images/twitter.svg);
}
a.github {
  background-image: url(images/github.svg);
}
a.social:hover {
  opacity: 1;
}
.clearfix {
  clear: both;
}

/* Styles for larger screens */
@media screen and (min-width: 720px) {
  
  .flex {
      display: -ms-flexbox;      /* TWEENER - IE 10 */
      display: flex; 
      max-width: 1200px;
      -ms-flex-pack: distribute;
      justify-content: space-around;
      margin: 0 auto;
  }
  header {
    min-height: 470px;
  }
  .nav {
    max-width: 1200px;
    padding: 0 30px;
  }
  main {
    padding-top: 20px;
  }
  main p {
    line-height: 1.6em;
  }
  footer {
    font-size: 1.3em;
    max-width: 1200px;
    margin: 40px auto;
  }
}

/* Style added for Images, Interests and Experience pages*/
.copyright {
  color: rgb(10, 1, 31);
}
a.instagram {
  color: rgb(255, 0, 98);
}
a.instagram:hover{
  color: purple;
}
.center {
  text-align: center;
  font-size: 1.2em;
  color:blue;
}
.hobbies {
 width: 75%;
 text-align: left;
 margin: auto;
 padding: 60px;

}
.image {
  display: block;
  border-radius: 40px;
  border: 2px solid rgb(60, 107, 240);
  margin-left: auto;
  margin-right: auto;
  max-width: 65%;
}
.lab {
  margin-left: 10%;
  margin-right: 10%;
  width: 50%;

}
.row {
  display: flex;
}
.column {
  flex: 33.33%;
  padding: 5px;
}
.hobbies ul {
  max-width: 400px;
  margin: 0 auto;
  font-size: 1.2em;
}
.hobbies li {
  text-align: left;
}
.photography {
  max-width: 500px;
  margin: 0 auto;
  text-align: justify;
  font-size: 1.2em;
  color: blue;
}
.enlarge {
  font-size: 2em;
  color: rgb(30, 24, 243);
  text-align: center;
}
.picturecaption {
  font-size: 1.1em;
  color: rgb(255, 0, 98);
  text-align: center;
  font-style: italic;
}

